<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Preferences</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body,
        html {
            height: 100%;
            margin: 0;
            font-family: Arial;
        }

        p {
            padding-left: 5px;
        }

        a {
            text-decoration: none;
        }

        #loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            /* Safari */
            animation: spin 2s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(0deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .respone {
            border: 1p solid black;
            padding: 10px 5px;
            margin: 10px 2px;
        }

        .jsontitle {
            padding: 10px 0px;
            margin: 0px 10px;
            font-weight: bolder;
        }


        .tablink {
            background-color: #555;
            color: white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 10px 20px;
            font-size: 15px;
            width: 12.5%;
        }

        .tablink:hover {
            background-color: #777;
        }

        .tabcontent {
            color: black;
            display: none;
            padding: 50px 20px;
            height: 100%;
        }

        .toolHeader {
            color: white;
            background-color: black;
            display: inline-block;
            width: 100%;
            margin-bottom: -5px;
        }

        .portalTitle {
            float: left;
            margin-left: 50px;
        }

        .envSelector {
            float: right;
            margin-right: 50px;
            vertical-align: middle;
            padding-top: 2px;
        }

        .envt-style {
            border: 1px solid #ccc;
            width: 100%;
            border-radius: 5PX;
            overflow: hidden;
        }

        .select-style {
            border: 1px solid #ccc;
            width: 250px;
            border-radius: 5px;
            overflow: hidden;
        }

        .select-style select {
            padding: 5px 8px;
            width: 130%;
            border: none;
            box-shadow: none;
            background: transparent;
            background-image: none;
        }

        .select-style select:focus {
            outline: none;
        }

        .button-style {
            border: 1px solid #ccc;
            width: 120px;
            border-radius: 5px;
            overflow: hidden;
            color: cadetblue;
        }

        .newsection {
            padding-left: 10px;
        }

        .subsection {
            padding-left: 25px;
        }

        #UserRole {
            display: inline-block;
        }
    </style>
</head>

<body onload="startTab();">
    <script>
        var environment = "pl1";

        function openPage(e, pageName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i <tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
                tablinks[i].style.Color = "white";
            }
            document.getElementById(pageName).style.display = "block";
            e.style.backgroundColor = "cadetblue";
            e.style.Color = "black";
            if (pageName === "Applications") {
                document.getElementById("loader").style.display = "block";
                /* document.getElementById("txtApplications").style.display = "none";*/
                getRemoteConfig();
            }
            if (pageName === "Menus") {
                getMenus();
            }
            if (pageName === "Navigation") {
                getNavigation();
            }
            if (pageName === "Settings") {
                getSettings();
            }
            if (pageName === "NewTab") {
                getNewTab();
            }
            if (pageName === "UserInfo") {
                getUserInfo();
            }
            if (pageName === "Metrics") {
                getUserMetrics();
            }
            if (pageName === "Bookmarks") {
                getUserBookmarks();
            }
            if (pageName === "Userconfig") {
                getUserconfig();
            }
        }

        function getUserType() {
            fetch('https://buapp2k16.' + environment + '.us.ml.com/MDCConfigService/api/Auth/userworkspace',
                {
                    method: 'GET',
                    credentials: 'include',
                    headers: {
                        'Accept' : 'application/json',
                        'Content-Type' : 'application/json'
                    }
                }
            ).then((res) => {
                res.json().then(data => {
                    if (data.length > 0) {
                        var json = data[0].Message;
                        if (json == "User Id is required.") {
                            var loginUrl = 'https://cfuiv4.' + environment + '.us.ml.com/tools/login';
                            json = json + "<a href'" + loginUrl + "' target='_blank'>Login here!</a>";
                            document.getElementById("txtResponse").innerHTML = json;
                            return;
                        }
                    }
                    document.getElementById("UserRole").innerHTML = data;
                })
            }).catch(function (err) {
                console.log("Fetch Error :-S", err);
                reject(err)
            });

        }

        function getRemoteConfig() {
            fetch('https://buapp2k16.' + environment + '.us.ml.com/MDCConfigService/api/MDCData/RemoteConfig',
            {
                method: 'GET',
                credentials: 'include',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }
            ).then((res) => {
                res.json().then(data => {
                    var jsonObjectString = JSON.stringify(data);
                    var jsonArray = jsonObjectString.split(",");
                    var jsonString = "";
                    for (var i = 0; i < jsonArray.length; i++) {
                        jsonString = jsonString + "<div class='subsection'>" + jsonArray[i].replace(/\\r\\n/g, '').replace(/\\/g, '')
                            .replace(/"{/g, "{")
                            .replace(/}"/g, "}")
                            .replace(/{/g, "<div class='newsection'>{<div class='subsection'>")
                            .replace(/}/g, "</div>}</div>") + "</div>";
                    }
                    document.getElementById("txtApplications").innerHTML = jsonString;
                    document.getElementById("loader").style.display = "none";
                    document.getElementById("txtApplications").style.display = "block";
                })
            }).catch(function (err) {
                console.log("Fetch Error :-S", err);
                reject(err)
            });
        }

        function getNavigation() {
            fetch('https://buapp2k16.' + environment + '.us.ml.com/MDCConfigService/api/MDCData/Navigation',
            {
                method: 'GET',
                credentials: 'include',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }
        ).then((res) => {
            res.json().then(data => {
                var jsonObjectString = JSON.stringify(data);
                var jsonArray = jsonObjectString.split(",");
                var jsonString = "";
                for (var i = 0; i < jsonArray.length; i++) {
                    jsonString = jsonString + "<div class='subsection'>" + jsonArray[i].replace(/\\r\\n/g, '').replace(/\\/g, '')
                        .replace(/"{/g, "{")
                        .replace(/}"/g, "}")
                        .replace(/{/g, "<div class='newsection'>{<div class='subsection'>")
                        .replace(/}/g, "</div>}</div>") + "</div>";
                }
                document.getElementById("txtNavigation").innerHTML = jsonString;
            })
        }).catch(function (err) {
            console.log("Fetch Error :-S", err);
            reject(err)
        });
    }

    function getMenus() {
            fetch('https://buapp2k16.' + environment + '.us.ml.com/MDCConfigService/api/MDCData/menus',
            {
                method: 'GET',
                credentials: 'include',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }
            ).then((res) => {
            res.json().then(data => {
                var jsonObjectString = JSON.stringify(data);
                var jsonArray = jsonObjectString.split(",");
                var jsonString = "";
                for (var i = 0; i < jsonArray.length; i++) {
                    jsonString = jsonString + "<div class='subsection'>" + jsonArray[i].replace(/\\r\\n/g, '').replace(/\\/g, '')
                        .replace(/"{/g, "{")
                        .replace(/}"/g, "}")
                        .replace(/{/g, "<div class='newsection'>{<div class='subsection'>")
                        .replace(/}/g, "</div>}</div>") + "</div>";
                }
                document.getElementById("txtMenus").innerHTML = jsonString;
            })
        }).catch(function (err) {
            console.log("Fetch Error :-S", err);
            reject(err)
        });
    }

    function getSettings() {
            fetch('https://buapp2k16.' + environment + '.us.ml.com/MDCConfigService/api/MDCData/ContainerSettings',
            {
                method: 'GET',
                credentials: 'include',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }
        ).then((res) => {
            res.json().then(data => {
                var jsonObjectString = JSON.stringify(data);
                var jsonArray = jsonObjectString.split(",");
                var jsonString = "";
                for (var i = 0; i < jsonArray.length; i++) {
                    jsonString = jsonString + "<div class='subsection'>" + jsonArray[i].replace(/\\r\\n/g, '').replace(/\\/g, '')
                        .replace(/"{/g, "{")
                        .replace(/}"/g, "}")
                        .replace(/{/g, "<div class='newsection'>{<div class='subsection'>")
                        .replace(/}/g, "</div>}</div>") + "</div>";
                }
                document.getElementById("txtSettings").innerHTML = jsonString;
            })
        }).catch(function (err) {
            console.log("Fetch Error :-S", err);
            reject(err)
        });
    }

    function getNewTab() {
            fetch('https://buapp2k16.' + environment + '.us.ml.com/MDCConfigService/api/MDCData/NewPageSettings',
            {
                method: 'GET',
                credentials: 'include',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }
        ).then((res) => {
            res.json().then(data => {
                var jsonObjectString = JSON.stringify(data);
                var jsonArray = jsonObjectString.split(",");
                var jsonString = "";
                for (var i = 0; i < jsonArray.length; i++) {
                    jsonString = jsonString + "<div class='subsection'>" + jsonArray[i].replace(/\\r\\n/g, '').replace(/\\/g, '')
                        .replace(/"{/g, "{")
                        .replace(/}"/g, "}")
                        .replace(/{/g, "<div class='newsection'>{<div class='subsection'>")
                        .replace(/}/g, "</div>}</div>") + "</div>";
                }
                document.getElementById("txtNewTab").innerHTML = jsonString;
            })
        }).catch(function (err) {
            console.log("Fetch Error :-S", err);
            reject(err)
        });
    }

    function getUserInfo() {
            fetch('https://buapp2k16.' + environment + '.us.ml.com/MDCConfigService/api/MDCData/UserInfo',
            {
                method: 'GET',
                credentials: 'include',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }
        ).then((res) => {
            res.json().then(data => {
                var jsonObjectString = JSON.stringify(data);
                var jsonArray = jsonObjectString.split(",");
                var jsonString = "";
                for (var i = 0; i < jsonArray.length; i++) {
                    jsonString = jsonString + "<div class='subsection'>" + jsonArray[i].replace(/\\r\\n/g, '').replace(/\\/g, '')
                        .replace(/"{/g, "{")
                        .replace(/}"/g, "}")
                        .replace(/{/g, "<div class='newsection'>{<div class='subsection'>")
                        .replace(/}/g, "</div>}</div>") + "</div>";
                }
                document.getElementById("txtUserInfo").innerHTML = jsonString;
            })
        }).catch(function (err) {
            console.log("Fetch Error :-S", err);
            reject(err)
        });
    }
    
    function getUserMetrics() {
            fetch('https://buapp2k16.' + environment + '.us.ml.com/MDCConfigService/api/MDCData/Metrics',
            {
                method: 'GET',
                credentials: 'include',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }
        ).then((res) => {
            res.json().then(data => {
                var jsonObjectString = JSON.stringify(data);
                var jsonArray = jsonObjectString.split(",");
                var jsonString = "";
                for (var i = 0; i < jsonArray.length; i++) {
                    jsonString = jsonString + "<div class='subsection'>" + jsonArray[i].replace(/\\r\\n/g, '').replace(/\\/g, '')
                        .replace(/"{/g, "{")
                        .replace(/}"/g, "}")
                        .replace(/{/g, "<div class='newsection'>{<div class='subsection'>")
                        .replace(/}/g, "</div>}</div>") + "</div>";
                }
                document.getElementById("txtMetrics").innerHTML = jsonString;
            })
        }).catch(function (err) {
            console.log("Fetch Error :-S", err);
            reject(err)
        });
    }

    function getUserBookmarks() {
            fetch('https://buapp2k16.' + environment + '.us.ml.com/MDCConfigService/api/MDCData/bookmarks',
            {
                method: 'GET',
                credentials: 'include',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }
        ).then((res) => {
            res.json().then(data => {
                var jsonObjectString = JSON.stringify(data);
                var jsonArray = jsonObjectString.split(",");
                var jsonString = "";
                for (var i = 0; i < jsonArray.length; i++) {
                    jsonString = jsonString + "<div class='subsection'>" + jsonArray[i].replace(/\\r\\n/g, '').replace(/\\/g, '')
                        .replace(/"{/g, "{")
                        .replace(/}"/g, "}")
                        .replace(/{/g, "<div class='newsection'>{<div class='subsection'>")
                        .replace(/}/g, "</div>}</div>") + "</div>";
                }
                document.getElementById("bookmarks").innerHTML = jsonString;
            })
        }).catch(function (err) {
            console.log("Fetch Error :-S", err);
            reject(err)
        });
    }

    function getUserconfig() {
            fetch('https://buapp2k16.' + environment + '.us.ml.com/MDCConfigService/api/MDCData/userconfig',
            {
                method: 'GET',
                credentials: 'include',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }
        ).then((res) => {
            res.json().then(data => {
                var jsonObjectString = JSON.stringify(data);
                var jsonArray = jsonObjectString.split(",");
                var jsonString = "";
                for (var i = 0; i < jsonArray.length; i++) {
                    jsonString = jsonString + "<div class='subsection'>" + jsonArray[i].replace(/\\r\\n/g, '').replace(/\\/g, '')
                        .replace(/"{/g, "{")
                        .replace(/}"/g, "}")
                        .replace(/{/g, "<div class='newsection'>{<div class='subsection'>")
                        .replace(/}/g, "</div>}</div>") + "</div>";
                }
                document.getElementById("userconfig").innerHTML = jsonString;
            })
        }).catch(function (err) {
            console.log("Fetch Error :-S", err);
            reject(err)
        });
    }

    function getPreferences(id) {
        var url = 'https://buappsvc.' + environment + '.us.ml.com/UserPreferencesAPI/userpreferences';
        if (id !== undefined && id !== "-1") {
            url = url + "/" + id;
        }
        else {
            url = url + "?Page=1&Limit=15"
        }
        fetch(url,
        {
            method: 'GET',
            credentials: 'include',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'App_key': 'MDC_02fda616-0a87-4155-ade9-085b1ef7b50e'
            }
        }
        ).then((res) => {
            res.json().then(data => {
                if (id === undefined || id === "-1") {
                    userPeferenceElements(data);
                }
                if (data.length > 0) {
                    var json = data[0].Message;
                    if (json == "User Id is required.") {
                        json = json + "<a href='https://cfuiv4.dif.hew.us.ml.com/tools/login' target='_blank'>Login here!</a>";
                        document.getElementById("txtResponse").innerHTML = json;
                        return;
                    }
                }
                var result = "";
                for (var k = 0; k < data.data.length; k++) {
                    result = result + "<div class='jsontitle'>" + data.data[k].PreferenceKey + "</div><div>";
                    var jsonObject = data.data[k].PreferenceValue;
                    var jsonObjectString = JSON.stringify(jsonObject);
                    var jsonArray = jsonObjectString.split(",");
                    var newjsonString = "";
                    for (var i = 0; i < jsonArray.length; i++) {
                        newjsonString = newjsonString + "<div class='subsection'>" + jsonArray[i].replace(/\\r\\n/g, '').replace(/\\/g, '')
                            .replace(/"{/g, "{")
                            .replace(/}"/g, "}")
                            .replace(/{/g, "<div class='newsection'>{<div class='subsection'>")
                            .replace(/}/g, "</div>}</div>");
                            newjsonString = newjsonString + ((i === (jsonArray.length - 1)) ? "</div>" : ",</div>");
                    }
                    result = result + newjsonString + "</div>";
                }
                document.getElementById("txtResponse").innerHTML = result;
                document.getElementById("rawResponse").innerHTML = jsonObjectString;
            })
        }).catch(function (err) {
            console.log("Fetch Error :-S", err);
            reject(err)
        });
    }

    function optionChanged() {
        var e = document.getElementById("dropUserPreference");
        var optionValue = e.options[e.selectedIndex].value;
        if (optionValue.includes("Archive")) {
            document.getElementById("btnArchive").style.display = "none";
            document.getElementById("btnRestore").style.display = "inline-block";
        }
        else {
            if (e.selectedIndex === 0) {
                document.getElementById("btnArchive").style.display = "none";
            } else {
                document.getElementById("btnArchive").style.display = "inline-block";
            }
            document.getElementById("btnRestore").style.display = "none";
        }
        getPreferences(optionValue);
    }

    function envChanged() {
        var e = document.getElementById("Environment");
        environment = e.options[e.selectedIndex].value;
        getPreferences();
    }

    function userPeferenceElements(array) {
        var sel = document.getElementById("drpUserPreference");
        removeOptions(sel);
        var arrOptions = array.data;
        var option = document.createElement("option");
        option.value = "-1";
        option.text = "All User Preferences"
        sel.appendChild(option);
        for (var key in arrOptions) {
            var option = document.createElement("option");
            option.value = arrOptions[key].PreferenceKey;
            option.text = arrOptions[key].PreferenceKey;
            sel.appendChild(option);
        }
        console.log(sel);
    }

    function removeOptions(selectbox) {
        var i;
        for (i = selectbox.options.length - 1; i >= 0; i--) {
            selectbox.remove(i);
        }
    }

    function deleteAllPreferences(baseurl) {
        return new Promise((resolve, reject) => {
            var e = document.getElementById("drpUserPreference");
            for (var i = 1; i < e.options.length; i++) {
                var id = e.options[i].value;
                if (id.includes("Archive") === false) {
                    var url = baseurl + "/" + id;
                    fetch(url, {
                        method: 'Delete',
                        credentials: 'include',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                            'App_Key': 'MDC_02fda616-0a87-4155-ade9-085b1ef7b50e'
                        }
                    }).catch(function (err) { console.log("Fetch Error :-S", err); });
                }
            }
        });
    }

    function deletePreferences() {
        var result = confirm("Are you sure you want to delete this item?");
        if (result) {
            var url = 'https://buappsvc.' + environment + '.us.ml.com/UserPreferencesAPI/userpreferences';
            var e = document.getElementById("drpUserPreference");
            var id = e.options[e.selectedIndex].value;
            if (id !== undefined && id !== "-1") {
                url = url + "/" + id;
                fetch(url,
                {
                    method: 'Delete',
                    credentials: 'include',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'applicaiton/json',
                        'App_Key': 'MDC_02fda616-0a87-4155-ade9-085b1ef7b50e'
                    }
                }).catch(function (err) {
                    console.log("Fetch Error :-S", err);
                });
            } else {
                deleteAllPreferences(url).then((res) => { });
            }
        }
        var e = document.getElementById("drpUserPreference");
        e.selectedIndex = 0;
        getPreferences();
    }

    function archivePreferences() {
        var result = confirm("Are you sure you want to archive this item?");
        if (result) {
            var url = 'https://buappsvc.' + environment + '.us.ml.com/UserPreferencesAPI/userpreferences';
            var d = new Date();
            var e = document.getElementById("drpUserPreference");
            var id = "Archive_" + e.options[e.selectedIndex].value + "_" + d.toISOString().substr(0, 9) + "_" + d.getTime().toString();
            fetch(url,
            {
                method: 'Post',
                credentials: 'include',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'App_Key': 'MDC_02fda616-0a87-4155-ade9-085b1ef7b50e'
                },
                body: '[{ PreferenceKey: "' + id + '", PreferenceValue: ' + document.getElementById("rawResponse").innerHTML + '}]'
            }).then((res) => {
                if (res.status == 201) {
                    fetch(url + "/" + e.options[e.selectedIndex].value,
                    {
                        method: 'Delete',
                        credentials: 'include',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'applicaiton/json',
                            'App_Key': 'MDC_02fda616-0a87-4155-ade9-085b1ef7b50e'
                        }
                    }).catch(function (err) {
                        console.log("Fetch Error :-S", err);
                    });
                }
            }).then((res) => {
                document.getElementById('btnArchive').style.display = "none";
                var e = document.getElementById("drpUserPreference");
                e.selectedIndex = 0;
                getPreferences();
            }).catch(function (err) {
                console.log("Fetch Error :-S", err);
            });
        }
        
    }

    function restorePreferences() {
        var url = 'https://buappsvc.' + environment + '.us.ml.com/UserPreferencesAPI/userpreferences';
        var e = document.getElementById("drpUserPreference");
        var id = e.options[e.selectedIndex].value.split('_')[1];
        fetch(url,
        {
            method: 'Post',
            credentials: 'include',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'App_Key': 'MDC_02fda616-0a87-4155-ade9-085b1ef7b50e'
                },
                body: '[{ PreferenceKey: "' + id + '", PreferenceValue: ' + document.getElementById("rawResponse").innerHTML + '}]'
        }).then((res) => {
            if (res.status === 201) {
                fetch(url + "/" + e.options[e.selectedIndex].value,
                {
                    method: 'Delete',
                    credentials: 'include',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'App_Key': 'MDC_02fda616-0a87-4155-ade9-085b1ef7b50e'
                    }
                }).catch(function (err) {
                    console.log("Fetch Error :-S", err);
                });
            }
        }).then((res) => {
            var e = document.getElementById("drpUserPreference");
            e.selectedIndex = 0;
            getPreferences();
            document.getElementById('btnRestore').style.display = "none";
        }).catch(function (err) {
            console.log("Fetch Error :-S", err);
        });
    }

    function getEnvironment() {
        var host = window.location.hostname;
        if (host.includes("pl1")) {
            environment = "pl1";
        }
        else if (host.includes("pl2")) {
            environment = "pl2";
        }
        else if (host.includes("qa")) {
            environment = "qa.hew";
        }
        else if (host.includes("se")) {
            environment = "se.hew";
        }
        else if (host.includes("services")) {
            environment = "services";
        }
        else if (host.includes("dif")) {
            environment = "dif.hew";
        }
        else {
            environment = "pl2";
        }
    }

    function startTab() {
        document.getElementById('defaultOpen').click();
        getEnvironment();
        getUserType();
        getRemoteConfig();
    }

    </script>
    <div>
        <div class="toolHeader">
            <div class="portalTitle">
                <h3>CEW Support Portal</h3>
            </div>
            <div class="envSelector">
                <div class="segment">User: <p id="UserRole">Standard</p>
                </div>
            </div>
        </div>
    <div class="tab">
        <!-- <button id="defaultOpen" class="tablink active" onclick="openPage(this, 'UserPreferences')" style="background-color: cadetblue;">User Preferences</button> -->
        <button id="defaultOpen" class="tablink active" onclick="openPage(this, 'Applications')"
            style="background-color: cadetblue;">Applications</button>
        <button class="tablink" onclick="openPage(this, 'Menus')">Menus</button>
        <button class="tablink" onclick="openPage(this, 'Navigation')">Navigation</button>
        <button class="tablink" onclick="openPage(this, 'Settings')">Settings</button>
        <button class="tablink" onclick="openPage(this, 'NewTab')">New Tab</button>
        <button class="tablink" onclick="openPage(this, 'UserInfo')">UserInfo</button>
        <button class="tablink" onclick="openPage(this, 'Metrics')">Metrics</button>
        <button class="tablink" onclick="openPage(this, 'About')">About</button>
    </div>
    <div id="Applications" class="tabcontent" style="display: none;">
        <h3>Applications</h3>
        <div class="response">
            <div id="loader"></div>
            <div id="txtApplications"></div>
        </div>
    </div>
     <div id="Menus" class="tabcontent" style="display: none;">
        <h3>Settings</h3>
        <div class="response">
            <p id="txtMenus"></p>
        </div>
    </div>
    <div id="Navigation" class="tabcontent" style="display: none;">
        <h3>Navigation</h3>
        <div class="response">
            <p id="txtNavigation"></p>
        </div>
    </div>
    <div id="Settings" class="tabcontent" style="display: none;">
        <h3>Settings</h3>
        <div class="response">
            <p id="txtSettings"></p>
        </div>
    </div>
    <div id="NewTab" class="tabcontent" style="display: none;">
        <h3>New Tab</h3>
        <div class="response">
            <p id="txtNewTab"></p>
        </div>
    </div>
    <div id="UserInfo" class="tabcontent" style="display: none;">
        <h3>UserInfo</h3>
        <div class="response">
            <p id="txtUserInfo"></p>
        </div>
    </div>
     <div id="Metrics" class="tabcontent" style="display: none;">
        <h3>Metrics</h3>
        <div class="response">
            <p id="txtMetrics"></p>
        </div>
    </div>
    <div id="About" class="tabcontent" style="display: none;">
        <h3>About</h3>
            <p>Contact</p><a href="mailto:testemail.com">CEW Support Team</a>
    </div>
</div>
</body>
</html>