
.container {
    text-align: right; /* Aligns the content to the right side of the container */
  }
  
  .log-viewer-link,
  .support-portal-link {
    margin-right: 20px; /* Adds some spacing between the links */
    /* text-decoration: none; Removes underline from links */
    font-size: 16px; /* Adjust the font size as needed */
    color: #333; /* Adjust the link color as needed */
  }
  
  .log-viewer-link:hover,
  .support-portal-link:hover {
    color: #007bff; /* Change the link color on hover */
  }
  